h1{
  color: darkblue;
  font-size: 50px;
  font-family: 'Tangerine', cursive;}
body{
  background-image: url("http://getwallpapers.com/wallpaper/full/c/3/e/735453-pictures-of-blue-backgrounds-2560x1600-lockscreen.jpg")}
h3{
  color: black;
  font-family: 'Merienda', cursive;
  font-size: 25px}
div{
  border-style: inset;
  width: 356px}
